// 判断哪些节点要显示额外内容
var showExtraContent = function (tagName) {
  return ['p'].some(function (val) {
    return val === tagName
  })
}

var isNodeHeader = function (tagName = '') {
  var reg = getRegExp('^h[1-9]')
  return reg.test(tagName.toLowerCase())
}

// 判断哪些节点要显示在长按的呼出弹窗中
var showInLongPress = function (tagName) {
  if (isNodeHeader(tagName)) {
    return true
  }

  if (tagName === 'p') {
    return true
  }

  // li 节点
  if (tagName === 'li') {
    return true
  }

  return false
}

module.exports = {
  showExtraContent: showExtraContent,
  showInLongPress: showInLongPress,
}
