var getClass = function (properties) {
  var ret = ''
  if (properties) {
    if (properties.className) {
      ret += properties.className.join(', ')
    }

    if (properties.align) {
      ret += ' align-' + properties.align
    }
  }
  return ret
}

module.exports = {
  getClass: getClass,
}
